.boardPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.heading {
  padding: 24px;
}

.categories {
  flex-grow: 1;
  overflow-x: scroll;
  display: flex;
}

.category {
  flex-shrink: 0;
  display: inline-block;
  height: 100%;
  width: 300px;
  padding: 0 16px;
  box-sizing: border-box;
}
