.category {
  border: 1px solid black;
  padding: 12px;
}

.todoLast {
  border: 1px solid black;
  height: 35px;
  margin-bottom: 12px;
}

.heading {
  display: flex;
  margin-bottom: 10px;
}

.delete {
  margin-left: auto;
}
